html{
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url(/image/ridesharebg.gif) no-repeat;
  background-size:100%;
  background-position:bottom;
  background-color:#95e8f3;
  min-height: 100%;
}
form{padding:20px;margin-top:60px;margin-bottom: 30px;}
form button,form h5{margin:20px 0}
#age{
  display: block;
}
.input-field.radiobutton input{
  opacity:1;
  position: relative;
  pointer-events: all;
 margin: 10px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .side-filters{
  margin: 1vw;
  align-self: flex-start;
  width: max-content;
}
.posts-container{
  align-self: flex-start;
  margin: 2vw;
  width: 100%;
} 
.main-container{
  display: flex;
  padding:10px;
  align-items: flex-start;
  flex: 2 1 auto;
  /* flex-flow: row nowrap; */
}
@media only screen and (min-width: 993px){
.container.main {
    width: 80%;
}
}
.col.s12.m6.dashboard{
  width: 70%;

}
.col.s12.m5.offset-m1.notifications{
  width: 25%;

}
@media only screen and (min-width: 601px){
.row .col.offset-m1 {
  margin-left:5%;
}
}
.shadow {
  -moz-box-shadow:    0 0 5px #000000;
  -webkit-box-shadow:  0 0 5px #000000;
  box-shadow:         0 0 5px #000000;
}
.main-container.shadow{
  background: #ffffff;
  opacity: 0.9;
}
.card.z-depth-0.post-summary{
background:#ee6e73;
}
.MuiInput-underline:before{
  border-bottom: none !important;
}
.MuiInput-underline:after{
  border-bottom: none !important;
}
.MuiFormControl-root{
width: 100%;
}
.post-summary .card-content{
  color:#ffffff !important;
  font-weight: bold !important;
}
.card-title{
  font-weight: bold !important;
}
notification-container{
  font-weight: bold;
}
.link{
  font-weight: bold;
}
nav .brand-logo i{
  margin:10px 20px;
  font-size: 48px;

}
#commentcount{
  color: #ee6e73;
}
.post-details{
z-index: -2;
}
#privacy{
  display: block !important
  ;
}
.signout{
  margin-top:10px;
}
.myaccount-btn{
  width:180px !important;
  margin:30px 0;
}
#myrides{
  display: block;
 
  margin:20px 0;

}
#bookmark{
  margin-left:10px;
}
#type{
  display: block;
  font-weight:bold;
}
/* .myaccount-btn{
  width:180
} */
#asterisk{
  color:red;
}