html{
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url(/image/rideshare.gif) no-repeat;
  background-size:100%;
  background-position:top;
  background-color:#82b1ff ;
  background-repeat: no-repeat;
  min-height: 100%;

  
}
footer{
  bottom:0 !important;
position:fixed !important;
z-index:10;
width: 100% !important;
}
.footer-copyright .container
{
  text-align:center;
}
/* .MuiTouchRipple-root{
  background-color:#2196F3 !important;
} */
.posts-container .MuiAppBar-colorPrimary {
  background-color: #f9a825 !important;
  color:#000 !important;
}

#root{
  overflow-x: hidden;
}
#account{
  display:block;
}
.card{
  background-color:#2196F3 !important;
}
form{padding:20px;margin-top:60px;margin-bottom: 30px;}
form button,form h5{margin:20px 0}
#age{
  display: block;
}
#dl{
  margin-top: 40px !important;
}

.input-field.radiobutton input{
  opacity:1;
  position: relative;
  pointer-events: all;
 margin: 10px;

}
.spam-container{
  width:500px;
  margin:auto !important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .side-filters{
  margin:4vw 1vw;
  align-self: flex-start;
  width: max-content;
}
.posts-container{
  align-self: flex-start;
  margin: 4vw 4vw 4vw 0vw;
  width: 100%;
 
  min-width:300px !important; 
} 
.main-container{
  display: flex;
  padding:10px;
  align-items: flex-start;
  flex: 2 1 auto;
  /* flex-flow: row nowrap; */
}
.input-field{
  margin-bottom: 1.5rem;
}
.brand-logo {
  left:20% !important;
  font-family: Helvetica;
}
@media only screen and (min-width: 992px){
.container.main {
    width: 80%;
}

}
.col.s12.m6.dashboard{
  width: 70%;

}
.col.s12.m5.offset-m1.notifications{
  width: 25%;

}

@media only screen and (min-width: 601px) {
.row .col.offset-m1 {
  margin-left:5%;
}
/* nav ul a{
  font-size: 0.7rem !important;
} */

}

/* smallest screen size */

@media only screen and (max-width: 414px){
nav ul a{
  font-size: 0.6rem !important;
}
nav ul.right li a.link{
  padding:0px 5px !important;
}
.brand-logo{
left: 20% !important;
font-size:1rem !important;
}
.fa-car-side{
  line-height: 1.5 !important;
  font-size: 24px !important;
}
.main-container.shadow{
  max-width:340px !important; 
  min-width:340px !important;
}
.post-list.section{ 
  max-width: 350px !important;
}
.posts-container{
max-width: 300px !important;
margin: 4vw 0vw 4vw 0vw !important;
}
.side-filters{
 margin:4vw 0vw !important;
 max-width:100px !important;
}

.buttons{
max-width:100px !important;
width:100px !important;
}
#notification-title,.fa-bell
{
    top: 100px !important;
    position: fixed;
    display: inline-block;
   
    
    line-height: 1.5 !important;
}
#notification-title{
  padding-inline-start: 15px !important;
}


div.card.notification-div .card-title{
font-size:14px !important;
}

.click-options{
left:50px;
}
.MuiAppBar-root,.post-list{
  max-width:240px !important;
}
/* .card.notification-div{
max-width: 120px !important;
} */
.col.s12.m5.offset-m1.notifications{
  width: 100% !important;
  top:50px;
  margin-right:10px;
  position:fixed;

}
.col.s12.m6.dashboard {
    width: 100% !important;
    margin-top: 300px !important;

}
.post-link{
  
  margin-right:0px !important;

}
#delete-btn{
  margin-right: 60px !important;
}
.post-summary{
  max-width:146px !important;
}
.input-field label{
  margin-right:-15px !important;
}
.admin-link{
  margin-left: 5px !important;
  margin-right:0px !important;
  }
  .account-link{
    margin-left: 0px !important;
  margin-right:0px !important;
  }
}

/* medium screen size */

@media only screen and (min-width:415px) and (max-width: 768px){
  .main-container.shadow{
    max-width:420px !important; 
    min-width:420px !important;
  }
 .post-list.section{ 
    max-width: 350px !important;
 }
 .posts-container{
  max-width: 300px !important;
  margin: 4vw 0vw 4vw 0vw !important;
 }
 .side-filters{
   margin:4vw 0vw !important;
   max-width:100px !important;
 }
 .brand-logo {
    left:20% !important;
    font-family: Helvetica;
    font-size: 1.5rem;
 }
 .buttons{
  max-width:100px !important;
  width:100px !important;
}
div.card.notification-div{
  max-width: 150px;
  

}
div.card.notification-div .card-title{
  font-size:14px !important;
}
.click-options{
left:50px;
}
nav ul a{
  font-size: 1rem;
  padding-left:5px !important;
  margin-left:5px !important;
  margin-right:0px !important;
  padding-right:0px !important;
}

.input-field label{
  margin-right:-20px !important;
}

}




.shadow {
  -moz-box-shadow:    0 0 5px #000000;
  -webkit-box-shadow:  0 0 5px #000000;
  box-shadow:         0 0 5px #000000;
}
.main-container.shadow{
  background: #ffffff;
  opacity: 0.9;
}
.card.z-depth-0.post-summary{
background:#ee6e73;
}
.MuiInput-underline:before{
  border-bottom: none !important;
}
.MuiInput-underline:after{
  border-bottom: none !important;
}
.MuiFormControl-root{
width: 100%;
}
.post-summary .card-content{
  color:#ffffff !important;
  font-weight: bold !important;
}
.card-title{
  font-weight: bold !important;
  
}
notification-container{
  font-weight: bold;
}
.link{
  font-weight: bold;
}
nav .brand-logo i{
  margin:10px 20px;
  font-size: 48px;

}
#commentcount{
  color: #ee6e73;
}
.post-details{
z-index: -2;
}
#privacy{
  display: block !important
  ;
}
.signout{
  margin-top:10px;
}
.myaccount-btn{
  border-radius: 24px;
  width: 200px !important;
  margin:30px 0;
}
#myrides-header{
  display: block;
 border:1px solid white;
margin-bottom:20px !important;
 background-color:#26a69a;
 color:white;
  margin:20px 0;
  padding: 10px 10px;
  width:180px !important;
  text-align:center;
  line-height: 0.8;
}
#bookmark{
  margin-left:10px;
}
#type{
  display: block;
  font-weight:bold;
}
/* .myaccount-btn{
  width:180
} */
#asterisk{
  color:red;
}
.input-field label{
  margin-top: -15px !important;
}
#dl{
  font-weight:bold;
}
.verified
{
display: inline-block;
}
.email{
  display:inline-block;
  padding-right:10px;
}
.phonenumber{
  display:inline-block;
  margin-right:10px;

}
.message{
  display:inline-block;
  margin-right:10px;
}
.searchInput{
display: inline-block;
width:90% !important;
margin-top:0 !important;
padding-top:0 !important;

}
.fa-search{
display: inline-block;
margin-top:15px !important;
}
.fa-envelope,.fa-sms,.fa-phone{
  color:black;
}
.buttons{
  border-radius:24px !important;
  width:160px !important;
}
.fa-user-edit{
  margin-top:20px;
  margin-left:20px;
  display: block;
}
.fa-user-check{
  display: inline-block;
  margin-right:10px;
}

.fa-trash{
  display: inline-block;
  background: none;
  color:black;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59)) !important;
}
.fa-bell{
margin-right:10px;
}
.fa-flag{
  margin-left:10px;
}
.post-link{
  display: inline-block;
  width:85%;
}
#check,#delete{
  display: inline-block !important;
  margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
#delete{
  display: inline-block;
  
  margin-left:10px;
  vertical-align:middle;
}
#delete-btn,#check-btn{
  /* position: relative; */
  
  background-color: white;
  color:#000;
  
}

.post-list > div{
  position:relative;
  margin-bottom: 50px !important;
}
.click-options{
  display:block;
  margin-left:10px !important;
  position:absolute;
  left:0px;
  padding-bottom:20px;
}
.click-options div{
  display:inline-block;

}

#myfavourites .click-options{
  display: none !important;
}
#myrides .click-options{
  display: none !important;
  
}
.post-box{
  width:100%;
  display: flex;
}
.post-link{
/* width:70%;
float:left; */
margin-right:20px;

}
/* #delete{
  /* width:20%;
  float:left; */
/* } */ 
.post-content{
  flex:4 1;
}
.signin,.signup{
  margin-bottom:30px;
  font-weight:bold;
}
div.main-container.shadow,.MuiTabs-flexContainer{
  min-width:768px;
  position: relative;
}
div.card{
  min-width:100px;
  margin-left:10px !important;
  

}
.collection-header{
background-color: #26a69a !important;
color: white !important;
}
.collection-item{
  font-weight: bold !important;
  font-size: 1.5em !important;
}

.MuiTabPanel-root{
  margin-left:0px !important;
  padding-left:0px !important;
}
.notification-div{
    top: 130px;
    position: fixed;
    background: rgba(255, 255, 255, 0.8) !important;
}

.admin{
  margin-top:20px;
  margin-bottom:20px;
}
.MuiToolbar-gutters {
  padding-left: 43px;
  padding-right: 24px;
}
.me{
  margin-left: 10px !important;
}

#signal{
  color: rgb(0, 41, 128);
  font-weight: bold;

}
.fa-bars:before {
  line-height: 1.9px !important;
}
#menu button{

  right: 0px;
  position: fixed;
  color: white;
  line-height: 1px !important;

}
#simple-menu .MuiPaper-root{
  right: 0px !important;
  position: fixed !important;
  top:100px !important;
  left:unset !important;
}
.gototop
{
float:right;
font-size:x-large;
margin-top:10px;
bottom:0;
right:0;
position:fixed;
font-weight: bold;
}
